@font-face {
  font-family: "Roboto Light";
  src : url("../font/roboto/Roboto-light.ttf");
}
@font-face {
  font-family : "Signika Bold";
  src : url("../font/Signika/Signika-Bold.ttf");
}
@font-face {
  font-family : "Signika Regular";
  src : url("../font/Signika/Signika-Regular.ttf");
}

html
{
  margin : 0;
  padding : 0;
}

.header
{
  background: url("../img/header_bg.jpg") repeat-x;
  display: flex;
  text-align: center;
}

.header a
{
  text-decoration : none;
}

.header .liens_externe
{
  color : black;
}

.brand
{
  padding-left : 15vw;
  padding-top : 4vh;
  padding-bottom: 6vh;
}

.nav
{
  font-size : 20px;
  font-family: "Roboto Light";
  font-weight: bold;
  display : flex;
  list-style: none;
  padding-top : 5vh;
}

.nav li
{
  padding : 1vw;
}

.page-header
{
  padding : 5vh;
  background: url("../img/page-header_bg.jpg") repeat-x;
}

.page-header h1
{
  padding-left : 15vw;
  color : white;
  font-family: "Roboto Light";
}

footer
{
  font-size : 12px;
  text-align: center;
}

footer img
{
  padding-left : 55vw;
}

.vignette img
{
  width : 100px;
  height : 150px;
}

.lien_infos
{
  width : 32px;
  height : 32px;
}

.table
{
  margin-top: 2vh;
}

.table thead th
{
  font-weight: bold;
    user-select : none;
}

.containerPagination {
  display: block;
  margin: auto;
}


.add_res{
  width: 40%;
  height: auto;
}

.sort:hover {
  color:#EF5A00;
}

.sort.asc{
  color:#EF5A00;
}

.sort.desc{
  color:#EF5A00;
}



